*{
margin:0;
padding:0;
}
header{
background-image: url(a.png);
height : 100vh;
background-position: center;
background-size: cover;
}
ul{
text-align:right;
}
ul li{
display: inline-block;
padding:20px;
}
ul li a{
text-decoration: none;
color:white;
border: 1px solid transparent;
padding:8px 25px;
}
ul li a:hover{
color: black;
background-color:white;
}
ul li a.active{
color:black;
background-color:white;
}
h1{
color: white;
text-align:center;
padding:15px;
}
h1.bg{
color:red;
text-align:center;
}
marquee{
background-color: red;
}
.img{
align: right;
}
h2{
color: purple;
text-align:left;
padding:15px;
}
h3{
color: purple;
text-align:left;
padding:15px;
}
.bg{
color: black;
}
