*{
margin:0;
padding:0;
}
header{
background-image: url(img.png);
height : 200vh;
background-position: center;
background-size: cover;
}
ul{
text-align:right;
}
ul li{
display: inline-block;
padding:20px;
}
ul li a{
text-decoration: none;
color:white;
border: 1px solid transparent;
padding:8px 30px;
}
ul li a:hover{
color: black;
background-color:white;
}
ul li a.active{
color:black;
background-color:white;
}
h1{
color: white;
text-align:center;
padding:15px;
}
h1.bg{
color:pink;
text-align:center;
}
marquee{
background-color: red;
}
h3{
color:white;
}
.bg1{
color:yellow;
text-align: left;
}
.bg2{
color:yellow;
background-color:red;
}

